<!DOCTYPE html>
<html lang="en">
<body style="background-color:#1abc9c;color:#ffffff">
<head>
    <meta charset="UTF-8">
    <title>EMOZERS</title>
    <style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
    <meta name="author" content="Script Tutorials" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>HTML5 Audio player with playlist | Script Tutorials</title>

    <!-- add styles and scripts -->
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<center><h1 style="color:green"><font size="100">MOOD DETECTED</font></h1></center>
<center><h1>{{mood}}</h1></center>
<center><h1 style="color:green"><font size="100">TRENDING MOOD</font></h1></center>
<center><h1>{{trending}}</h1></center>
    
    <div class="example">

        <div class="player">
            <div class="pl"></div>
            <div class="title"></div>
            <div class="artist"></div>
            <div class="cover"></div>
            <div class="controls">
                <div class="play"></div>
                <div class="pause"></div>
                <div class="rew"></div>
                <div class="fwd"></div>
            </div>
            <div class="volume"></div>
            <div class="tracker"></div>
        </div>
        <ul class="playlist hidden">
            <img src="{{spr}}"/>
            <li audiourl="{{song}}" >song</li>

        </ul>

    </div>
<p>
<center><a href="http://127.0.0.1:5000/analysis" class="button"><font size="100">ANALYSE AGAIN</a></center></font>
</center></p>
<font><center><a href="https://docs.google.com/forms/d/e/1FAIpQLSfShahE2KMbeUCq0yf-JD3Q24BgS-fX1Ug0ASz9xTfGadxI3A/viewform" class="button"><font size="100">REVIEW</font></a></center>
<img src="{{im1}}" alt="image1"/>
    <img src="{{im2}}" alt="image2"/>
    <img src="{{im3}}" alt="image3"/>
</body>
</html>